*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-green: #45A338;
  --color-black: #424F60;
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.fl-align {
  display: flex;
  align-items: center;
}

header {
  height: 123px;
  position: relative;
  z-index: 99;
  transition: 1s ease;
}

@media (max-width: 992px) {
  header .block_header {
    width: 100%;
    flex-direction: column-reverse;
    padding-top: 10px;
    justify-content: flex-end;
    transition: 1s ease;
    height: 189px;
  }
  header .header__logo {
    display: none;
  }
  header:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 85%;
    margin: auto;
    height: 48px;
    bottom: -15px;
    background: var(--color-black);
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 65%, 94% 100%, 6% 100%, 0 65%, 0% 30%);
    z-index: -1;
  }
  header {
    height: 190px;
  }
}

#menu-toggle {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

#menu-toggle span {
  display: block;
  background: #fff;
  border-radius: 2px;
  transition: 0.25s ease-in-out;
}

#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}

#menu-toggle #hamburger span {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
}

#menu-toggle #hamburger span:nth-child(1) {
  transition-delay: 0.5s;
  top: 0;
}

#menu-toggle #hamburger span:nth-child(2) {
  transition-delay: 0.625s;
  top: 12px;
}

#menu-toggle #hamburger span:nth-child(3) {
  transition-delay: 0.75s;
  top: 24px;
}

#menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}

#menu-toggle #cross span:nth-child(1) {
  width: 4px;
  height: 0;
  position: absolute;
  top: 9%;
  left: 45%;
  transition-delay: 0s;
}

#menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 11%;
  top: 50%;
  transition-delay: 0.25s;
}

#menu-toggle.open #hamburger span {
  width: 0%;
}

#menu-toggle.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}

#menu-toggle.open #hamburger span:nth-child(2) {
  transition-delay: 0.125s;
}

#menu-toggle.open #hamburger span:nth-child(3) {
  transition-delay: 0.25s;
}

#menu-toggle.open #cross span:nth-child(1) {
  height: 100%;
  transition-delay: 0.625s;
}

#menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  transition-delay: 0.375s;
}

.h2_background span {
  background: var(--color-green);
  color: #fff;
  font-size: inherit;
  padding: 3px;
  font-weight: inherit;
}

.header__flex {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  margin-left: 5%;
  z-index: 9999;
  width: 40%;
}

.header__logo img {
  margin-right: 24px;
  width: 83px;
  margin-top: 8px;
}

.header__logo p {
  color: #fff;
  padding-top: 27px;
  font-size: 16px;
  font-weight: 400;
}

header.open_header .block_header__mobLogo {
  display: none;
}

header.open_header .block_header__menu {
  height: 200px;
  opacity: 1;
  margin: 20px 0;
  padding-bottom: 0;
  z-index: 1;
  transition: 1s ease;
}

header.header_overflow {
  overflow: hidden;
}

.block_header {
  background: var(--color-black);
  width: 50%;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.block_header:before {
  content: '';
  position: absolute;
  left: -101px;
  bottom: 10px;
  background: var(--color-black);
  width: 92px;
  height: 103px;
  border-radius: 8px 8px 15px 8px;
  transform: rotate(28deg);
  z-index: 99;
}

.block_header:after {
  content: '';
  position: absolute;
  left: -117px;
  top: 0;
  width: 118px;
  height: 100%;
  background: var(--color-black);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 63% 100%, 0 69%);
}

.block_header__top {
  padding: 5px 0 20px 0;
  width: 90%;
  justify-content: space-between;
}

.block_header__top a {
  color: #fff;
  font-weight: 300;
  margin-right: 10%;
}

.block_header__menu {
  padding-bottom: 13px;
}

.block_header__menu ul {
  list-style: none;
  width: 90%;
  justify-content: space-between;
}

.block_header__menu ul li {
  font-weight: 500;
  font-size: 16px;
  position: relative;
  z-index: 9;
  padding: 4px;
}

.block_header__menu ul li a {
  color: #fff;
}

.block_header__menu ul:not(.block_header__menu--mobile) > li:hover:after {
  width: 100%;
}

.block_header__menu ul:not(.block_header__menu--mobile) > li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  background: linear-gradient(90deg, #45a338 0%, rgba(255, 255, 255, 0) 100%) !important;
  height: 100%;
  z-index: -1;
  transition: .4s ease;
}

.block_header__menu .child_menu:hover .block_header__menu--mobile {
  height: auto;
}

.block_header__menu .child_menu:hover .block_header__menu--mobile li {
  transition-delay: .1s;
  opacity: 1;
}

li .block_header__menu--mobile {
  position: absolute;
  width: max-content;
  color: #000;
  transition: .6s ease-in-out;
  height: 0;
  top: 40px;
}

li .block_header__menu--mobile:before {
  content: '';
  position: absolute;
  top: -15px;
  height: 22px;
  width: 100%;
  left: 0;
}

li .block_header__menu--mobile:after {
  content: '';
  position: absolute;
  top: -13px;
  left: -4px;
  height: 100%;
  width: 2px;
  background: var(--color-green);
}

li .block_header__menu--mobile li {
  position: relative;
  opacity: 0;
}

li .block_header__menu--mobile li:after {
  content: '';
  position: absolute;
  left: -6px;
  width: 6px;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--color-green);
  border-radius: 50%;
}

.block_header__menu--img {
  display: none;
  justify-content: flex-end;
  margin-left: auto;
  height: 131px;
}

.block_header__btn {
  display: flex;
  flex-direction: column;
}

.block_header__btn button[data-price] {
  color: #3a7c33;
  background: transparent;
  border: 1px solid var(--color-green);
  padding: 8px 10px;
  font-weight: 300;
  font-size: 13px;
}

.block_header__btn button[data-zvonok] {
  background: var(--color-green);
  border: none;
  color: #fff;
  padding: 8px 10px;
  margin-bottom: 2px;
  font-weight: 300;
  font-size: 13px;
}

.block_header__mobMenu {
  display: none;
  justify-content: center;
}

.block_header__mobMenu img {
  width: 30px;
}

.block_header__mobMenu > div:not(:last-child) {
  margin-right: 30px;
  position: relative;
}

.block_header__mobMenu > div:not(:last-child):after {
  content: '';
  position: absolute;
  right: -15px;
  background: #fff;
  height: 100%;
  width: 1px;
}

.block_header__mobLogo {
  margin-bottom: 25px;
  height: 105px;
  display: none;
}

@media (max-width: 992px) {
  .block_header__menu--img {
    display: flex;
  }
  .block_header__menu ul {
    width: 50%;
    flex-direction: column;
    align-items: self-start;
    margin-left: 9%;
  }
  .block_header__menu {
    justify-content: space-around;
    width: 100%;
    height: 0px;
    opacity: 0;
    z-index: -1;
    display: flex;
  }
  .block_header__menu ul li {
    margin-bottom: 15px;
  }
  .block_header__top {
    display: none;
  }
  .block_header__mobMenu, .block_header__mobLogo {
    display: flex;
  }
}

@media (max-width: 500px) {
  .block_header__mobMenu img {
    width: 25px;
  }
}

.section_info {
  display: flex;
  height: 600px;
}

.section_info__slider {
  width: 70%;
  position: relative;
}

.section_info__slider .swiper,
.section_info__slider .section_info__absolute {
  position: absolute;
  width: 100%;
  height: calc(100% + 135px);
  object-fit: cover;
  z-index: 9;
  top: -135px;
}

.section_info__slider .swiper img {
  height: 100%;
  object-fit: cover;
}

.section_info__slider .swiper p {
  font-weight: 800;
  font-size: 30px;
  color: #fff;
  background: var(--color-black);
  width: max-content;
  padding: 16px 4px;
  margin-left: 5%;
  position: absolute;
  bottom: 120px;
  left: 0;
  transition: .4s ease;
  transform: translateX(-150%);
}

.section_info__slider .swiper p.active {
  transform: translateX(0);
}

.section_info__slider .swiper-pagination {
  top: auto !important;
  bottom: 0;
}

.section_info__slider .swiper-pagination span {
  background: var(--color-green) !important;
}

.section_info__slider .swiper-button-next:after,
.section_info__slider .swiper-button-prev:after {
  display: none;
}

.section_info__slider .swiper-button-prev,
.section_info__slider .swiper-button-next {
  background: #45a338cf;
  padding: 15px;
  height: 58px;
  width: 40px;
  transition: .3s ease;
}

.section_info__slider .swiper-button-prev img,
.section_info__slider .swiper-button-next img {
  transition: initial;
}

.section_info__slider .swiper-button-prev:hover,
.section_info__slider .swiper-button-next:hover {
  background: var(--color-green);
}

.section_info__slider .swiper-button-prev:hover img,
.section_info__slider .swiper-button-next:hover img {
  filter: brightness(0.4);
}

.section_info__slider .swiper-button-prev {
  bottom: 20px;
  top: auto;
  right: 10px;
  left: auto;
}

.section_info__slider .swiper-button-next {
  bottom: 82px;
  top: auto;
  right: 10px;
  left: auto;
  transform: scaleY(-1);
}

.section_info__page {
  height: 100%;
  width: 30%;
}

.section_info__item {
  height: 33.3%;
  position: relative;
}

.section_info__item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_info__item h2 {
  z-index: 9;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background: var(--color-green);
  padding: 3px 6px;
  width: max-content;
  margin-bottom: 10px;
}

.section_info__item p {
  color: #fff;
  font-weight: 600;
  width: 60%;
  font-size: 16px;
}

.section_info__item > div {
  position: absolute;
  bottom: 27px;
  left: 24px;
}

@media (max-width: 992px) {
  .section_info__page {
    display: none;
  }
  .section_info__slider {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .section_info {
    height: 300px;
  }
  .section_info__slider .swiper p {
    font-size: 6vw;
  }
}

.section_catalog {
  margin-top: 118px;
}

.section_catalog h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 40px;
}

.section_catalog__menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  list-style: none;
}

.section_catalog__menu ul li {
  text-align: center;
}

.section_catalog__menu ul li p {
  width: max-content;
  margin: 14px auto 0;
  padding-bottom: 3px;
  font-weight: 600;
  width: 100%;
}

.section_catalog__menu ul li p.active {
  border-bottom: 2px solid green;
}

.section_catalog__menu ul li img {
  width: 100%;
}

.section_catalog__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 45px 7px;
  margin-top: 70px;
}

.section_catalog__items p {
  margin-top: 3px;
  color: #545165;
  font-size: 14px;
  font-weight: 500;
}

.section_catalog__items img {
  width: 100%;
  height: 195px;
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .section_catalog__menu ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .section_catalog__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .section_catalog__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section_project {
  transform: perspective(1200px);
  transform-style: preserve-3d;
  perspective: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 260px;
  margin-top: 158px;
}

.section_project__item {
  height: 100%;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  position: relative;
}

.section_project__item img {
  width: 100%;
  height: 100%;
}

.section_project__hover {
  position: absolute;
  bottom: 31px;
  opacity: 0;
}

.section_project--background {
  background: var(--color-green);
  color: #fff;
  padding: 33px;
}

.section_project--background a {
  color: #fff;
  margin-top: 39px;
  display: block;
}

@media (max-width: 1200px) {
  .section_project {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .section_project {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 500px) {
  .section_project--background {
    padding: 15px;
  }
  .section_project--background h2 {
    font-size: 4.8vw;
  }
}

.section_video {
  margin-top: 150px;
}

.section_video .container {
  display: flex;
}

.section_video__text {
  width: 50%;
}

.section_video__text h2 {
  font-size: 40px;
  font-weight: 600;
  margin-left: 25%;
}

.section_video__text h2 span {
  width: max-content;
  display: block;
}

.section_video__obj {
  position: relative;
  width: 50%;
}

.section_video__img {
  max-width: 100%;
}

.section_video--play {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: max-content;
  background: #ffffff47;
  padding: 20px;
  border-radius: 67px;
  height: max-content;
}

.section_video--play img {
  width: 50px;
}

@media (max-width: 992px) {
  .section_video .container {
    flex-direction: column;
    align-items: center;
  }
  .section_video__text {
    width: 100%;
  }
  .section_video__text h2 {
    margin-left: 0;
    text-align: center;
  }
  .section_video__text h2 span {
    text-align: center;
    margin: auto;
  }
}

.section_news {
  margin-top: 140px;
  display: flex;
}

.section_news h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 600;
}

.section_news__useful {
  width: 65%;
  border-right: 1px solid #ccc;
  padding: 0 40px;
}

.section_news__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.section_news__info--item {
  transition: .2s ease-in-out;
  border: 1px solid #cccccc47;
}

.section_news__info--item img {
  max-width: 100%;
}

.section_news__info--item h3 {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  padding: 10px;
}

.section_news__info--item:hover {
  box-shadow: 0px 5px 10px 2px #dedede;
}

.section_news__new {
  width: 35%;
  padding: 0 30px;
}

.section_news__list--item {
  display: flex;
}

.section_news__list--item:not(:last-child) {
  margin-bottom: 15px;
}

.section_news__list--item img {
  background: #ccc;
  width: 140px;
  height: 70px;
  margin-right: 20px;
}

.section_news__list--info {
  position: relative;
}

.section_news__list--info h3 {
  font-size: 16px;
  color: var(--color-green);
  font-weight: 600;
}

.section_news__list--info p {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.section_news__list--info a {
  position: absolute;
  bottom: -11px;
  right: -1px;
  font-size: 12px;
  color: var(--color-green);
}

@media (max-width: 992px) {
  .section_news {
    flex-direction: column;
    align-items: center;
  }
  .section_news__useful {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-right: transparent;
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
  .section_news__new {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section_news__info {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section_application {
  margin-top: 100px;
  background: var(--color-black);
  padding-bottom: 100px;
}

.section_application h2 {
  padding: 85px 0 60px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.section_application__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.section_application__items img {
  max-width: 100%;
  position: relative;
  top: 2px;
}

.section_application__item {
  box-shadow: 0px 10px 13px -7px #313131;
}

.section_application__item--bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 14px;
  background: #fff;
}

.section_application__item--bottom h3 {
  font-size: 14px;
  font-weight: 600;
}

.section_application__item--bottom a {
  font-size: 13px;
}

@media (max-width: 992px) {
  .section_application__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .section_application__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 10px;
  }
}

@media (max-width: 500px) {
  .section_application__item--bottom {
    flex-direction: column;
  }
}

footer {
  background: #2d3642;
}

footer .container {
  display: flex;
  padding: 20px 0 40px 0;
}

footer .footer__logo img {
  width: 80px;
}

footer .footer__menu {
  display: flex;
}

footer .footer__menu ul {
  list-style: none;
  line-height: 1.6;
}

footer .footer__menu ul li a {
  color: #fff;
  font-size: 13px;
}

footer .footer__menu ul li.footer__title {
  color: var(--color-green);
  font-weight: bold;
  margin-bottom: 10px;
}

footer .footer__menu ul:not(:last-child) {
  margin-right: 45px;
}

footer .footer__adress {
  margin: 0 30px;
}

footer .footer__adress--box {
  margin-bottom: 15px;
}

footer .footer__adress--box img {
  width: 16px;
  margin-right: 10px;
}

footer .footer__adress--box a,
footer .footer__adress--box p {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

footer .footer__adress--box:not(.fl-align) {
  display: flex;
  align-items: flex-start;
  margin-bottom: 21px;
}

footer .footer__adress--phone a {
  font-size: 15px;
}

footer .footer__adress button[data-zvonok] {
  background: var(--color-green);
  color: #fff;
  border: none;
  padding: 13px 24px;
  border-radius: 4px;
  margin: 0 0 14px 0;
}

footer .footer__vidget--mess p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

footer .footer__vidget--mess ul {
  display: flex;
  list-style: none;
}

footer .footer__vidget--mess ul img {
  width: 20px;
}

footer .footer__vidget--mess ul li:not(:last-child) {
  margin-right: 10px;
}

footer .footer__vidget > a {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  display: block;
}

@media (max-width: 992px) {
  footer .container {
    display: grid;
    place-content: center;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  footer .footer__logo {
    grid-column-start: 1;
  }
  footer .footer__adress {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  footer .footer__menu {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer__menu ul:last-child {
    grid-row-start: 1;
  }
  footer .footer__menu ul:nth-of-type(2) {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  footer .footer__vidget {
    grid-column-start: 3;
    grid-row-start: 1;
  }
}

@media (max-width: 500px) {
  footer .footer__vidget {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    position: absolute;
    bottom: 37%;
    right: 17%;
  }
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.btn-11 {
  position: relative;
  color: var(--color-green);
}

.btn-11:before,
.btn-11:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--color-green);
  border-radius: 50%;
}

.btn-11:before {
  left: -20px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn-11:after {
  right: -20px;
  transform: translate(50%, -50%);
  z-index: -1;
}

.btn-11:hover {
  color: #fff;
}

.btn-11:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
  animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.btn-11:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
  animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.btn-6 {
  color: #4e768e;
}

.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #1c3849;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn-6:hover {
  color: #cbd7de;
}

.btn-6:hover span {
  width: 225%;
  height: 562.5px;
}

.btn-6:active {
  background-color: #2f5e7a;
}

[class^=btn-] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-8 {
  width: 250px;
  padding: 20px 30px;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.btn-8:hover .wave {
  top: -120px;
}

.btn-8 span {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 15px;
  letter-spacing: 8px;
}

.btn-8 .wave {
  width: 250px;
  height: 200px;
  background-color: #444857;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: -80px;
  transition: 0.4s;
}

.btn-8 .wave::before, .btn-8 .wave::after {
  width: 200%;
  height: 200%;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.btn-8 .wave::before {
  border-radius: 45%;
  background-color: #141414;
  animation: wave 5s linear infinite;
}

.btn-8 .wave::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

figure.photo_album_box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background: var(--color-black);
}

figure.photo_album_box *,
figure.photo_album_box *:before,
figure.photo_album_box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

figure.photo_album_box img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

figure.photo_album_box .title {
  position: absolute;
  top: 74%;
  left: 11%;
  padding: 5px 10px 10px;
}

figure.photo_album_box .title:before,
figure.photo_album_box .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}

figure.photo_album_box .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

figure.photo_album_box .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

figure.photo_album_box .title div:before,
figure.photo_album_box .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}

figure.photo_album_box .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

figure.photo_album_box .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

figure.photo_album_box h3 {
  font-weight: 600;
  opacity: 0;
}

figure.photo_album_box figcaption {
  position: absolute;
  bottom: 68%;
  left: 12%;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}

figure.photo_album_box figcaption p {
  margin: 0;
}

figure.photo_album_box a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

figure.photo_album_box:hover img,
figure.photo_album_box.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

figure.photo_album_box:hover h3 {
  opacity: 1;
}

figure.photo_album_box:hover .title:before,
figure.photo_album_box.hover .title:before,
figure.photo_album_box:hover .title:after,
figure.photo_album_box.hover .title:after,
figure.photo_album_box:hover .title div:before,
figure.photo_album_box.hover .title div:before,
figure.photo_album_box:hover .title div:after,
figure.photo_album_box.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

figure.photo_album_box:hover .title:before,
figure.photo_album_box.hover .title:before,
figure.photo_album_box:hover .title:after,
figure.photo_album_box.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.photo_album_box:hover figcaption,
figure.photo_album_box.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.page_normal .header__logo p {
  color: #000;
}

.section_contact h1 {
  text-align: left;
  margin-left: 8%;
  font-size: 30px;
}

.section_contact .tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  margin: 45px auto;
  width: max-content;
  border-radius: 99px;
}

.section_contact .tabs * {
  z-index: 2;
}

.section_contact .tabs_box__element--block[data-block="contact"] {
  flex-direction: column;
}

.section_contact .tabs_box__element--block[data-block="contact"] > .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}

.section_contact .tabs_box__element--block[data-block="contact"] .tabs_box__magazine {
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.section_contact .tabs_box__element--block[data-block="contact"] .tabs_box__magazine p,
.section_contact .tabs_box__element--block[data-block="contact"] .tabs_box__magazine a {
  margin-bottom: 10px;
  display: block;
  line-height: 1.4;
}

.section_contact .tabs_box__element--block[data-block="otdel"] .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.section_contact .tabs_box__element--block[data-block="otdel"] .container .tabs_box__element--ppl {
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.section_contact .tabs_box__element--block[data-block="otdel"] .container .tabs_box__element--ppl p,
.section_contact .tabs_box__element--block[data-block="otdel"] .container .tabs_box__element--ppl a:not(:last-child) {
  margin-bottom: 20px;
  display: block;
}

.section_contact .tabs_box__element--block[data-block="otdel"] .container .tabs_box__element--ppl a {
  color: #000;
}

.section_contact .tabs_box__element--block[data-block="otdel"] .container .ppl-title {
  color: var(--color-green);
  font-weight: 600;
}

.section_contact .tabs_box__element--block[data-block="otdel"] .container .tabs_box__element--photo {
  width: 90px;
  height: 90px;
  background: var(--color-black);
  position: absolute;
  bottom: -12px;
  right: -18px;
  padding: 20px;
}

.section_contact .tabs_box__element--block[data-block="otdel"] .container .tabs_box__element--photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(1);
}

.section_contact .tabs_box__element--block[data-block="ofis"] .tabs_box__element--box,
.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .tabs_box__element--box {
  display: flex;
  background: #fff;
  box-shadow: -20px 20px 0 -17px #eee, 20px -20px 0 -17px #eee, 20px 20px 0 -20px var(--color-green), 0 0 0 2px var(--color-green);
}

.section_contact .tabs_box__element--block[data-block="ofis"] .container,
.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs,
.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofs {
  display: flex;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs img,
.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofs img {
  width: 100px;
}

.section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofsBox,
.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofsBox {
  margin-left: 10px;
}

.section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofsBox .ofs-title,
.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofsBox .ofs-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofsBox .ofs-rezhim,
.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofsBox .ofs-rezhim {
  margin-bottom: 15px;
  font-size: 14px;
}

.section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofsBox .ofs-phone,
.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofsBox .ofs-phone {
  font-size: 14px;
  color: var(--color-green);
}

.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container {
  grid-template-columns: repeat(1, 1fr);
}

.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofs {
  margin: auto;
  justify-content: center;
  padding: 46px;
}

.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofsBox {
  margin-left: 50px;
}

.section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofsBox img {
  width: 400px;
  max-width: 100%;
}

.section_contact .tabs_box__element {
  margin-bottom: 50px;
}

.section_contact .tabs_box__element--block {
  position: relative;
  display: none;
  justify-content: center;
}

.section_contact .tabs_box__element--block.active {
  display: flex;
}

.section_contact .tabs_box__element--form {
  width: 50%;
  padding: 45px;
}

.section_contact .tabs_box__element--form h2 {
  margin-bottom: 30px;
}

.section_contact .tabs_box__element--form form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.section_contact .tabs_box__element--form form input[type="text"] {
  padding: 13px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  font-size: 17px;
  color: #6c6c6c;
}

.section_contact .tabs_box__element--form form input[type="submit"] {
  background: var(--color-green);
  color: #fff;
  border: none;
  padding: 16px 0;
}

.section_contact .tabs_box__element--form .input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.section_contact .tabs_box__element--form .input {
  border-radius: 12px;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.section_contact .tabs_box__element--form .cut {
  opacity: 0;
  background: var(--color-green);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.section_contact .tabs_box__element--form .ic2 .cut {
  width: 146px;
}

.section_contact .tabs_box__element--form .ic3 .cut {
  width: 94px;
}

.section_contact .tabs_box__element--form div.ic3 {
  height: 100%;
}

.section_contact .tabs_box__element--form div.ic3 input {
  padding-bottom: 90px;
}

.section_contact .tabs_box__element--form .input:focus ~ .cut,
.section_contact .tabs_box__element--form .input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
  opacity: 1;
}

.section_contact .tabs_box__element--form .placeholder {
  color: #65657b;
  font-size: 14px;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.section_contact .tabs_box__element--form .input:focus ~ .placeholder,
.section_contact .tabs_box__element--form .input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.section_contact .tabs_box__element--form .input:not(:placeholder-shown) ~ .placeholder {
  color: #fff;
}

.section_contact .tabs_box__element--form .input:focus ~ .placeholder {
  color: #dcdcdc;
}

.section_contact .tabs_box__element--contacts {
  width: 50%;
  background: var(--color-black);
  padding: 31px;
}

.section_contact .tabs_box__element--contacts .tabs_box__element--item {
  margin-bottom: 35px;
  box-shadow: inset 2px 2px 5px var(--color-black), 1px 1px 5px black;
  color: #fff;
  padding: 17px;
  display: flex;
  position: relative;
}

.section_contact .tabs_box__element--contacts .tabs_box__element--item img {
  width: 20px;
}

.section_contact .tabs_box__element--contacts .tabs_box__element--item .all_label {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-green);
  padding: 14px;
  width: 100px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  transform: translateY(-105%);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.section_contact .tabs_box__element--contacts .tabs_box__element--item .all_label.active {
  transform: translateY(0);
}

.section_contact .tabs_box__element--contacts .tabs_box__element--oveeflow {
  overflow: hidden;
}

.section_contact .tabs_box__element--contacts ul {
  list-style: none;
  margin-left: 20px;
}

.section_contact .tabs_box__element--contacts ul li:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 11px;
}

.section_contact .tabs_box__element--contacts ul li:not(:first-child) {
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.section_contact .tabs_box__element--contacts ul li:not(:first-child):hover span {
  display: flex;
}

.section_contact .tabs_box__element--contacts ul li:not(:first-child) span {
  position: absolute;
  left: 0;
  right: -155%;
  margin: auto;
  top: -10px;
  display: none;
  justify-content: center;
  background: var(--color-green);
  width: max-content;
  padding: 9px;
  font-size: 14px;
}

.section_contact .tabs_box__element--contacts ul li:not(:first-child) span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: -60%;
}

.section_contact .tabs_box__element--contacts ul li:not(:first-child) span:after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: -4px;
  border: 5px solid transparent;
  border-bottom: 5px solid var(--color-green);
  border-right: 5px solid var(--color-green);
  z-index: 999;
  transform: rotate(132deg);
}

.section_contact .tabs_box__element--contacts ul a {
  color: #fff;
}

.section_contact input[type="radio"] {
  display: none;
}

.section_contact .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 225px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.section_contact .notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

.section_contact input[type="radio"]:checked + label {
  color: #fff;
}

.section_contact input[type="radio"]:checked + label > .notification {
  background-color: var(--color-green);
  color: #fff;
}

.section_contact input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.section_contact input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.section_contact input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

.section_contact input[id="radio-4"]:checked ~ .glider {
  transform: translateX(300%);
}

.section_contact .glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 225px;
  background-color: var(--color-black);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 992px) {
  .section_contact__tabs {
    overflow-y: scroll;
    max-width: 100%;
    padding: 0 15px;
  }
  .section_contact .tabs_box__element--block[data-block="otdel"] .container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 100%;
    padding: 0 29px;
  }
  .section_contact .tabs {
    margin-bottom: 40px;
  }
  .section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs:nth-of-type(1) {
    grid-row: 3/1;
    grid-column: 2/1;
  }
  .section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs:nth-of-type(2) {
    grid-column: 11/2;
  }
  .section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs:nth-of-type(3) {
    grid-row: 2/3;
    grid-column: 11/2;
  }
}

@media (max-width: 767px) {
  .section_contact .tabs_box__element--block[data-block="contact"] .container {
    flex-direction: column;
    align-items: center;
  }
  .section_contact .tabs_box__element--form, .section_contact .tabs_box__element--contacts, .section_contact .tabs_box__element--form form {
    width: 100%;
  }
  .section_contact .tabs_box__element--block[data-block="otdel"] .container {
    grid-template-columns: repeat(2, 49%);
    padding: 0 5px;
    grid-gap: 15px 6px;
  }
}

@media (max-width: 600px) {
  .section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs:nth-of-type(1) {
    grid-row: 2/1;
    grid-column: 3/1;
  }
  .section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs:nth-of-type(2) {
    grid-column: 2/1;
  }
  .section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs:nth-of-type(3) {
    grid-column: 3/2;
  }
  .section_contact .tabs_box__element--block[data-block="ofis"] .container {
    grid-template-columns: repeat(2, 49%);
    grid-gap: 20px 8px;
    padding: 0 5px;
  }
  .section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofs {
    flex-direction: column;
    align-items: center;
  }
  .section_contact .tabs_box__element--block[data-block="ofis"] .container .tabs_box__element--ofsBox .ofs-title {
    font-size: 15px;
    margin-top: 15px;
  }
}

@media (max-width: 500px) {
  .section_contact .tabs_box__element--block[data-block="otdel"] .container .tabs_box__element--photo {
    position: static;
  }
  .section_contact .ppl-title {
    font-size: 4vw;
  }
  .section_contact .ppl-dolzh,
.section_contact .ppl-mail,
.section_contact .ppl-phone {
    font-size: 3.5vw;
  }
  .section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container {
    grid-template-columns: repeat(1, 100%);
    padding: 0 5px;
  }
  .section_contact .tabs_box__element--block[data-block="proizvodstvo"] .container .tabs_box__element--ofs {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  h2.h2_background {
    font-size: 8vw;
  }
  .section_news__useful {
    padding: 0 15px;
  }
  .section_news__useful h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-esc {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 17px;
  top: 16px;
  cursor: pointer;
  z-index: 9;
}

.form-esc:hover span {
  opacity: 1;
}

.form-esc span {
  height: 1px;
  width: 100%;
  background: #fff;
  margin: 7px;
  display: block;
  position: absolute;
  border-radius: 69%;
  opacity: .8;
}

.form-esc span:first-child {
  transform: rotate(47deg);
}

.form-esc span:last-child {
  transform: rotate(-47deg);
}

.form_popap {
  background: #424f60d9;
  display: none;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  place-content: center;
  width: 100%;
}

.form_popap .container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

@media (max-width: 767px) {
  .form_popap .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .form_popap .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}

.form_popap .left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .form_popap .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}

.form_popap .login {
  font-size: 28px;
  font-weight: 900;
  margin: 50px 40px 25px;
  width: 50%;
}

.form_popap .eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px 40px;
}

.form_popap .right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .form_popap .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

.form_popap svg {
  position: absolute;
  width: 320px;
}

.form_popap path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}

.form_popap .form {
  margin: 40px;
  position: absolute;
}

.form_popap label {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.form_popap input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}

.form_popap input::-moz-focus-inner {
  border: 0;
}

.form_popap #submit {
  color: #707075;
  margin-top: 46px;
  transition: color 300ms;
}

.form_popap #submit:focus {
  color: #f2f2f2;
}

.form_popap #submit:active {
  color: #d0d0d2;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.ttf");
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 800;
}
